<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-expand-lg" id="navbarNav" style="height: 50px">
        <ul class="navbar-nav">
            <li class="nav-item">
                <!-- <img src="../assets/images/peru.png" class="img-fluid" alt="" style="width: 80px; height: 50px"> -->
            </li>
            <li class="nav-item">
                <h2 href="#" class="navbar-brand" style="font-weight: bold; font-size: 30px;">CONTENT MODERATOR</h2>
            </li>

            <li class="nav-item">........</li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/content-moderator">
                    <em class="fa-solid fa-square-caret-up"></em> INICIO
                </a>
            </li>
        </ul>
    </div>
</nav>

<br/>
<br/>
<br/>
<br/>

<router-outlet></router-outlet>